table, th, td {
    border:1px solid black;
    width: 100%;
    text-align: center;
}
.help-overlay, .signup-overlay, .login-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.overlay-help, .overlay-signup, .overlay-login {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.help-closeBtn, .signup-closeBtn, .login-closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    border: none;
    background: none;
}

